.result-card {
  background: rgb(41, 33, 160);
  background: linear-gradient(
    0deg,
    rgba(41, 33, 160, 1) 0%,
    rgba(102, 66, 254, 1) 50%
  );
}

.total {
  color: #b0adb4;
}

.got {
  background: rgb(74, 36, 207);
  background: linear-gradient(
    176deg,
    rgba(74, 36, 207, 1) 0%,
    rgba(69, 49, 232, 1) 50%
  );
}
